<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VKTIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VKTIM.Properties.Settings>
            <setting name="COLOR_APP_BACK" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CURRENT_CULTURE" serializeAs="String">
                <value>vi</value>
            </setting>
            <setting name="CS_ServerName" serializeAs="String">
                <value>117.4.241.246</value>
            </setting>
            <setting name="CS_DatabaseName" serializeAs="String">
                <value>IMS1</value>
            </setting>
            <setting name="CS_UserName" serializeAs="String">
                <value>vktinventory</value>
            </setting>
            <setting name="CS_PassWord" serializeAs="String">
                <value>123456a@</value>
            </setting>
        </VKTIM.Properties.Settings>
    </userSettings>
</configuration>